{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

{% if entry.start_date %}
  {% assign from_day = entry.start_date | date: "%d" %}
  {% assign from_month_year = entry.start_date | date: "%b %Y" %}
  {% assign to_day = entry.date | date: "%d" %}
  {% assign to_month_year = entry.date | date: "%b %Y" %}
{% else %}
  {% assign from_day = entry.date | date: "%d" %}
  {% assign from_month_year = entry.date | date: "%b %Y" %}
{% endif %}

<div class="events-block__wrapper">
    <div class="events-block__date">
      <div class="events-block__date_wrapper">
        {% if entry.start_date %}
          <div class="event-date two-dates">
        {% endif %}
          <div class="flex-event">
            <div class="event-day">
                {{ from_day }}
            </div>
            <div>
                <p>{{ from_month_year }}</p>
            </div>
          </div>
          {% if entry.start_date %}
          <div class="flex-event">
            <div class="event-day">
              {{ to_day }}
            </div>
            <div>
              <p>{{ to_month_year }}</p>
            </div>
          </div>                
        </div>    
        {% endif %}
      	<span class="events-block__closed">Past Event</span>              
      </div>  
    </div>

  <div class="events-block__infos">
    <a href="{{ entry.url | relative_url }}" class="event-title">{{ title }}</a>
    <p class="events-block__description">
    {% if entry.summary %}
      {{ entry.summary }}
    {% else %}
      {{ entry.content | truncatewords: 50 }} 
    {% endif %}
    </p>
  </div>
</div>

