{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

{% if entry.summary-image %}
  {% assign image_to_show = entry.summary-image %}
{% elsif entry.image %}
  {% assign image_to_show = entry.image %}
{% endif %}

{% assign entry_image = image_to_show %}
{% unless entry_image contains '://' %}
  {% assign entry_image = entry_image | relative_url %}
{% endunless %}

<!-- {%assign web_page = entry['web-page']%} -->

{%if entry.contact%}
  {%assign contact = entry.contact%}
{% else %}
  {%assign contact = entry.contact_person%}
{% endif %}

{% assign now = 'now' | date: '%s' | plus: 0 %}

{% if entry.closing_deadline %}
  {% assign end_day = entry.closing_deadline | date: "%d" %}
  {% assign end_month_year = entry.closing_deadline | date: "%b %Y" %}
{% endif %}

<div class="events-block__wrapper">  
  <div class="events-block__date">      
    <div class="events-block__date_wrapper">
        <div class="flex-event">
          <div class="event-day">
            {{ end_day }}
          </div>
          <div>
            <p>{{ end_month_year }}</p>
          </div>
        </div>
      {% if closing_deadline < now %}
      	<span class="events-block__closed">CLOSED</span>            
      {% endif %}
      {% if closing_deadline >= now %}
      	<span class="events-block__closed"><strong>Closing Deadline</strong></span>            
      {% endif %}

      </div>  
  </div> 
  
  <div class="landscape-block__infos">
    <div class="event-title"><a href="{{ web_page }}" target="_blank" rel="noopener">{{ title }}</a></div>
    <img class="events-image" src="{{ entry_image }}" alt="{{ title }}">
    {%- assign web_label = web_page | replace: 'https://','' | replace: 'http://','' | replace: 'www.','' -%}
    {%- assign web_label = web_label | truncate: 25 -%}
    
    <p class="events-block__description">
      <span style="font-weight:normal;text-decoration:none;">
        {{ entry.content | strip_html }}
      </span>
    </p>

    <p>
      📣 Call page: <a href="{{ web_page }}" target="_blank" rel="noopener">{{ web_label }}</a> &nbsp;|&nbsp; 
      {%if entry.contact%}
        📧 Contact:&nbsp <a href="mailto:{{ contact }}" target="_blank" rel="noopener">{{ contact }}</a>
      {% else %}
        📧 Contact:&nbsp <a href="{{ entry.contact_person_web }}" target="_blank" rel="noopener">{{ contact }}</a>
      {% endif %}
      
    </p>
  </div>
</div>
