{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

{% if entry.summary-image %}
  {% assign image_to_show = entry.summary-image %}
{% elsif entry.image %}
  {% assign image_to_show = entry.image %}
{% endif %}

{% assign entry_image = image_to_show %}
{% unless entry_image contains '://' %}
        {% assign entry_image = entry_image | relative_url %}
{% endunless %}
{% assign entry_image = entry_image | escape %}

<article class="project">
    <a href="{{ entry.url | relative_url }}" rel="bookmark" style="text-decoration: none;">
      <img class="events-image" src="{{ entry_image }}" alt="">        
    <h3 class="project-title p-name" style="margin: 0em;">
        {{ title }}
    </h3>
    </a>
</article>
