{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

<article class="project">
    <a href="{{ entry.url | relative_url }}" rel="bookmark">
      {% if entry.image %}
      {% assign entry_image = entry.summary-image %}
      {% unless entry_image contains '://' %}
        {% assign entry_image = entry_image | relative_url %}
      {% endunless %}
      {% assign entry_image = entry_image | escape %}
      <img class="project-image u-photo" src="{{ entry_image }}" alt="">
    {% endif %}
    <p class="project-type p-name">
      {{ entry.project-type}}
    </p>
    <h3 class="project-title p-name">
        {{ title }}
    </h3>
    {% if entry.group == "events" and entry.date %}
      <p class="event-date">
        {{ entry.date | date: "%B %-d, %Y" }} <!-- This formats the date as: "Month Day, Year" -->
      </p>
    {% endif %}
    </a>
</article>
