{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

<article class="project">
    <a href="{{ entry.url | relative_url }}" rel="bookmark">
      <img class="project-image u-photo" src="{{ entry.summary-image }}" alt="">
    <h3 class="project-title p-name" style="margin: 0em;">
        {{ title }}
    </h3>
    {% if entry.group == "events" and entry.date %}
      <p class="event-date">
        {{ entry.date | date: "%B %-d, %Y" }} <!-- This formats the date as: "Month Day, Year" -->
      </p>
    {% endif %}
    </a>
</article>
