---
layout: default
---

{% if page.start_date %}
  {% assign from_date = page.start_date | date: "%e %B %Y" %}  
  {% assign to_date = page.date | date: "%e %B %Y" %}  
{% else %}
  {% assign from_date = page.date | date: "%H:%M %e %B %Y" %}  
{% endif %}

<main id="main" class="main-content layout--single wide" aria-label="Content">
  {% include event-sidebar.html %}
  <article class="page">
    <div class="page__inner-wrap">
      <header class="page-header">               
        {% assign title = page.title | markdownify | strip_html %}
        <h1 id="page-title" class="page__title">{{ title }}</h1>
       
        {% if page.location %}
        <h3 style="padding: 0; margin: 5px; font-style: italic;">Where: {{ page.location }} </h3>
        {% endif %}
      
        {% if page.web-page %}
          <p class="page-webpage">
            <a href="{{ page['web-page'] }}" target="_blank" rel="noopener noreferrer">
              Visit Event Page &rarr;
            </a>
          </p>
        {% endif %}
      </header>
      
      <div class="page__content">
        <div class="e-content">
          {{ content }}

          {% include social-share.html %}
        </div>        
      </div>
    </div>
  </article>
</main>
