---
layout: default
---

{% if entry.start_date %}
  {% assign from_date = entry.start_date | date: %H:%M %e %B %Y" %}  
  {% assign to_date = entry.date | date: "%H:%M %e %B %Y" %}  
{% else %}
  {% assign from_date = entry.date | date: "%H:%M %e %B %Y" %}  
{% endif %}

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    <div class="page-wrapper">
      <header class="page-header">
        {% if page.image %}
          {% assign page_image = page.image %}
          {% unless page_image contains '://' %}
            {% assign page_image = page_image | relative_url %}
          {% endunless %}
          {% assign page_image = page_image | escape %}
          <img class="single-event-image" src="{{ page_image }}" alt="">
        {% endif %}
        
        {% assign title = page.title | markdownify | strip_html %}
        <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% if page.start_date %}
        <h2>When: </h2> {{from_date}} to {{ to_date }}
        {% else %}
        <h2>When: </h2> {{from_date}}
        {% endif %}
      
        {% if page.web-page %}
          <p class="page-webpage">
            <a href="{{ page['web-page'] }}" target="_blank" rel="noopener noreferrer">
              Visit Event Page &rarr;
            </a>
          </p>
        {% endif %}
      </header>
      
      <div class="page-content">
        <div class="e-content">
          {{ content }}
        </div>

        {% include page-pagination.html %}
      </div>
    </div>
  </article>
</main>
