---
layout: title-page
---

<div>
  <img src="/assets/images/fundings_images/Funding-big.png" style="width:10%; float:left; margin: 0 20px 20px 0;">
  <p>
    There are many funding opportunities available across the UK DRI landscape. Browse the sections below to find the right opportunity for you.
  </p>
</div>


<h2>Funding calls with deadlines:</h2>

<div class="landscape-block-group">
  <div class="events-block-group__inner-container">
    {% include funds-collection.html collection=page.collection format="deadline" sort_by="closing_deadline" sort_order="earliest" archive=false %}
  </div>
</div>


<h2>Always open calls:</h2>

<div class="landscape-block-group">
  <div class="events-block-group__inner-container">
    {% include funds-collection.html collection=page.collection format="open" sort_by="title" sort_order=page.sort_order %}
  </div>
</div>


<h2>Upcoming opportunities:</h2>

<div class="landscape-block-group">
  <div class="events-block-group__inner-container">
    {% include funds-collection.html collection=page.collection format="future" sort_by="title" sort_order=page.sort_order %}
  </div>
</div>


<h2>Closed opportunities:</h2>

<div class="landscape-block-group">
  <div class="events-block-group__inner-container">
    {% include funds-collection.html collection=page.collection format="deadline" sort_by="closing_deadline" sort_order="latest" archive=true %}
  </div>
</div>
