---
layout: title-page
---

There are many funding opportunities available across the UK DRI landscape. 
Browse the sections below to find the right opportunity for you.

<h2>Funding calls with deadlines:</h2>

<div class="landscape-block-group">
  <div class="events-block-group__inner-container">
    {% include funds-collection.html collection=page.collection format="deadline" sort_by=page.sort_by sort_order=page.sort_order archive=false %}
  </div>
</div>


<h2>Always open calls:</h2>

<div class="landscape-block-group">
  <div class="events-block-group__inner-container">
    {% include funds-collection.html collection=page.collection format="open" sort_by=page.sort_by sort_order=page.sort_order %}
  </div>
</div>


<h2>Upcoming opportunities:</h2>

<div class="landscape-block-group">
  <div class="events-block-group__inner-container">
    {% include funds-collection.html collection=page.collection format="future" sort_by=page.sort_by sort_order=page.sort_order %}
  </div>
</div>


<h2>Closed opportunities:</h2>

<div class="landscape-block-group">
  <div class="events-block-group__inner-container">
    {% include funds-collection.html collection=page.collection format="deadline" sort_by=page.sort_by sort_order=page.sort_order archive=true %}
  </div>
</div>
