---
layout: default
---

<main id="main" class="main-content layout--single wide" aria-label="Content">
  <div class="sidebar sticky">
    <li><a href="https://www.cake.ac.uk/hpc-days/">HPC Days</a></li>
    <li><a href="https://www.cake.ac.uk/hpc-days/talks">Talks schedule</a></li>
  </div>
  <article class="page">
    <div class="page__inner-wrap">
      <div class="page__content">
        <div class="e-content">
          {{ content }}          
        </div>        
      </div>
    </div>
  </article>
</main>
